<!-- The viewport is divided into two parts having max-width 70% and 30% -->
<div class="layout-row">
  <!--
    Content in 70%: (TODO: Allow customization by organization)
      Cover Image
      Organization/Application Name
      Organization/Application Description

    This content will be hidden for smaller screens.
  -->

  <div class="flex-70 layout-column align-center align-items-center hide-lt-sm cover">
    <div class="cover-content">
      <h1 class="mat-display-1 cover-title">{{ 'APP_NAME' | translate }}</h1>
      <p class="mat-headline cover-description">
        Manage all lending and saving operations seamlessly with
        <strong>{{ 'APP_NAME' | translate }}</strong
        >. Empowering you to deliver financial services efficiently and effectively.
      </p>
    </div>
  </div>

  <!--
    Content in 30%: (TODO: Allow customization of Name, Logo and Contact Information by organization)
      Language Selector
      Organization/Application Name with Logo
      Form
      Contact Information/Resources
      Footer
  -->

  <div class="layout-column flex-gt-sm-30 login-container">
    <!-- Language Selector to the extreme right -->
    <div class="layout-row-reverse">
      <mifosx-language-selector class="p-t-10 p-r-10 width-40"></mifosx-language-selector>
      <mifosx-theme-toggle class="p-t-10"></mifosx-theme-toggle>
      <mifosx-server-selector class="p-t-10" *ngIf="allowServerSwitch()"></mifosx-server-selector>
    </div>

    <!-- Logo with Organization Name -->
    <div class="layout-row align-center-center flex-auto">
      <img src="assets/images/stashfin-logo-full.svg" alt="{{ 'APP_NAME' | translate }} Logo" class="img-container" />
    </div>

    <!-- Form Section -->
    <div class="layout-column align-center-center">
      <!-- Tenant Identifier Name -->
      <mifosx-tenant-selector *ngIf="displayTenantSelector()"></mifosx-tenant-selector>

      <!--
        Type of Form:
          Login
          Reset Password
          Two Factor Authentication
          Forgot Password (TODO: Decision to be taken on providing this feature.)
      -->
      <mifosx-login-form *ngIf="!resetPassword && !twoFactorAuthenticationRequired"></mifosx-login-form>

      <div class="layout-row">
        <mifosx-reset-password *ngIf="resetPassword"></mifosx-reset-password>
        <mifosx-two-factor-authentication *ngIf="twoFactorAuthenticationRequired"></mifosx-two-factor-authentication>
      </div>
    </div>
  </div>
</div>
